AZURE_OPENAI_API_KEY=your-azure-openai-key
AZURE_OPENAI_BASE_URL=https://slidegen-pers-openai.openai.azure.com/
AZURE_API_VERSION=2024-10-21
AZURE_DEPLOYMENT_NAME=gpt-4o
SLIDEGEN_USE_AZURE_OPENAI=1
MEM0_API_KEY=your-mem0-api-key-here
